.appFrame {
  width: 100%;
  max-width: 1400px;
  height: calc(100vh - 4rem);
  background-color: var(--c-beige);
  border: 1px solid var(--c-border);
  display: flex;
  flex-direction: column;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}
